@import "styles/variaveis";
@import "styles/breakpoints";

.item {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: .2s ease-in;
  width: 100%;
  box-shadow: 0 0 5px 0 #0000004d;

  &:hover {
    background-color: $grey;
  }

  img {
    border-radius: 8px;
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  &__descricao {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__titulo {
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      color: $dark-grey;
      font-size: 1.3rem;
      font-weight: 600;
      max-width: 600px;
      margin-bottom: 20px;
    }
  }
}