$padding-horizontal-mobile: 30px;
$padding-horizontal-md: 60px;

$dark: #242536;
$dark-grey: #92929d;
$darkest-grey: #70707b;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;

$green-thema: #76C83C;
$green-thema-o-50: #76c83c80;
$green-thema-90: #e3f4d7;
$green-thema-80: #c7e9af;
$green-thema-70: #abdd88;
$green-thema-60: #8fd260;
$green-thema-50: #74c738;
$green-thema-40: #5c9f2d;
$green-thema-30: #457722;
$green-thema-20: #2e5016;
$green-thema-10: #17280b;

$rosa-thema: #E1186F;
$rosa-thema-90: #fad1e3;
$rosa-thema-80: #f5a3c6;
$rosa-thema-70: #f075aa;
$rosa-thema-60: #ec468e;
$rosa-thema-50: #e71872;
$rosa-thema-40: #b9135b;
$rosa-thema-30: #8a0f44;
$rosa-thema-20: #5c0a2d;
$rosa-thema-10: #2e0517;

$laranja-thema: #FD7831;
$laranja-thema-90: #fedecd;
$laranja-thema-80: #febd9a;
$laranja-thema-70: #fd9c68;
$laranja-thema-60: #fd7b35;
$laranja-thema-50: #fc5a03;
$laranja-thema-40: #ca4802;
$laranja-thema-30: #973602;
$laranja-thema-20: #652401;
$laranja-thema-10: #321201;

$marrom-thema: #3C1C0B;
$marrom-thema-90: #f7e0d4;
$marrom-thema-80: #efc1a9;
$marrom-thema-70: #e7a37e;
$marrom-thema-60: #df8453;
$marrom-thema-50: #d76528;
$marrom-thema-40: #ac5120;
$marrom-thema-30: #813d18;
$marrom-thema-20: #562810;
$marrom-thema-10: #2b1408;

$branco-thema: #FFFFFF;
