@import "./variaveis";
@import "./breakpoints";
.container {
  padding: 50px $padding-horizontal-mobile;

}
.titulo {
  color: $marrom-thema;
  font-size: 2rem;
  margin-bottom: 30px;
  font-style: italic;

  @media (min-width: $desktop_md) {
    font-size: 3rem;
  }
}

