@import "styles/variaveis";
@import "styles/breakpoints";

.sobre {
  text-align: left;

  p {
    font-size: 24px;
    color: $black;
    font-weight: bold;
  }
}

.sobreNos {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;

  @media (max-width: $desktop_md) {
    flex-direction: column;
  }

  @media (min-width: $desktop_md) {
    &:nth-child(odd) {
      flex-direction: row;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;

    p {
      font-weight: 400;
    }
  }

  h2 {
    color: $marrom-thema-20;
    font-style: italic;
  }

  img {
    object-fit: cover;
  }
}

.imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  object-fit: cover;

  &__imagem {
    max-width: 600px;
    flex: 1;

    @media (max-width: $desktop_md) {
      width: 100%;
    }

    img {
      border-radius: 5px;
      width: 100%;
    }
  }
}