@import "styles/variaveis";
@import "styles/breakpoints";

.header {
  align-items: center;
  background-image: 
  linear-gradient(90deg,
  $green-thema-o-50 0%,
  $laranja-thema 100%),
  url("/assets/praia/praia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  height: 300px;
  padding: 0px $padding-horizontal-mobile;

  &__text {
    color: white;
    font-size: 5rem;
    min-width: 400px;
    text-align: center;

    @media (max-width: $desktop_xsm) {
      font-size: 3.5rem;
      width: 100%;
      min-width: none;
    }
  }
}